.qualityCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.qualityCardHeader {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-xl);
}

.qualityValuesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.qualityValues {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .qualityCardHeader svg {
    width: 24px;
    height: 24px;
  }
}
