.containerDetail {
  background-image: url("/images/pokeball.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top var(--spacing-xs) right var(--spacing-xs);
  background-size: auto;
}

.wrapperDetail {
  padding: 0 var(--spacing-xs) var(--spacing-xs);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.detailInfo {
  background: var(--color-white);
  border-radius: var(--radius-md);
  position: relative;
  margin-top: 150px;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  gap: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sliderPokemon img {
  width: 200px;
  height: 200px;
}

.sliderPokemonContent {
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

@media (min-width: 768px) {
  .containerDetail {
    background-position: top center;
  }

  .sliderPokemon img {
    width: 300px;
    height: 300px;
  }

  .detailInfo {
    margin-top: 200px;
    padding-top: 100px;
  }

  .sliderPokemonContent {
    top: -200px;
  }
}
